/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700&subset=latin-ext');

/* --- Components design --- */

@import url("components/header.css");
@import url("components/description.css");
@import url("components/footer.css");
@import url("components/mainpage.css");
@import url("components/dashboard.css");

/* --- Fonts --- */
body {
  	/*font-family: 'Bubbler One', sans-serif;
  	padding-bottom: 200px;*/
  	font-family: 'Fira Mono', monospace;
  	margin-top: 0px;
	margin-bottom: 0px;
	padding: auto;
	color:rgb(90,90,90);
}


