.dashboard-menu{
	padding: 0 20vw 0 20vw;
	box-shadow: 0px 3px 3px rgb(200, 200, 200); 
	font-size: 15px;
	position:fixed;
	z-index: 1;
	background-color: white;
	width: 100%;
}

.navbar{
	padding: 0;
	margin-bottom: 4px;
}


.notification{
	line-height: 20px;
	min-width: 20px;
	background-color: red;
	color: white;
	border-radius: 100%;
	display: inline-block;
/*	position:relative;
	top:50px;
	left:-0px;*/
	text-align: center;
	font-size: 10px;
	vertical-align: baseline;
}

.container-fluid{
	position: relative;
}

/* CSS common to all the panels*/
.box{
	padding: 0px 10px;
	position: absolute;
	top: 70px;
	position: relative;
}
.panel-box{
	box-shadow: 5px 5px 10px 0px rgb(150,150,150);
	padding: 0;
}

.panel-box-title{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	box-shadow: 0px 1px 1px 0px rgb(0,0,0);
	color: black;
}


.avatar1{
	position:absolute;
	top: 3px;
	left: 3px;
	width: 65px;
	height: 65px;
	border-radius: 100%;
	box-shadow: 1px 1px 3px rgb(200,200,200);
}
.avatar2{
	position:absolute;
	top: 12px;
	left: 12px;
	width: 40px;
	height: 40px;
}


.photo{
	padding: 0;
	border-radius: 100%;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 65px;
	height: 65px;
}

.info{
	text-align: left;
	/*border:1px solid /*rgb(250,250,250)green;*/
	font-size: 25px;
	position: relative;
	height: 75px;
	box-shadow: 0px 1px 1px 0px rgb(200,200,200);
	border-radius: 5px;
	/*box-shadow: inset hoff voff blur color;*/
}

.line1{
	position:absolute;
	top: 10px;
	left: 80px;
	height: 35px;	
}

.line2{
	position:absolute;
	top: 35px;
	left: 80px;
	height: 35px;
}

.hide{
	display:none;
}

.group-displayed{
	border-left: 2px dotted rgb(230,230,230);
	position: absolute;
	right: 10px;
	top: 5px;
	height: 65px;
	width:65px;
	padding-left:5px;
	padding-top:15px;
}

.eye-icon{
	position:absolute;
	left:200px;
	top:40px;
	width: 20px;
	height: 20px;
}

.edit{
	height: 30px;
	width: 30px;
	position: absolute;
	right:15px;
	top: 15px;
}

.test{
	height: 50px;
	width: 50px;
	position: absolute;
	right:0;
	top:12px;
}

/* For the left Panel: My Information*/
.panel-border{
	border: 1px solid red;
	padding: 0;
}

.my-info{
	
}

.my-info-group{

}

.my-info-avatar{
	font-size: 15px;
	padding-top: 30px;
}

.my-info-surname{
/*	border:1px solid rgb(250,250,250)black;
*/	position:absolute;
	top: 10px;
	left: 80px;
	height: 35px;
	font-size: 20px;


}
.my-info-firstname{
	/*border:1px solid rgb(250,250,250)black;*/
	position:absolute;
	top: 35px;
	left: 80px;
	height: 35px;
	margin-top: 4px;
	font-size: 20px;
}


.my-info-date{
	position: absolute;
	left: 80px;
	/*height: 35px;*/
	font-size: 20px
}

.my-info-date a{
	text-decoration: none;	
	color: rgb(90,90,90);
}



/* For the middle Panel: the Groups*/
.group-info{
	text-align: left;
	font-size: 25px;
	position: relative;
	/*box-shadow: 0 0 0 0 white;*/
	height: 71px;
	margin-top: 2px;
	margin-bottom: 2px;
}
.group-info-avatar{
	font-size: 15px;
	padding-top: 30px;
	/*width: 65px;*/
	/*height: 65px;*/
	top: 2px;
}

.group-info-name{
	position:absolute;
	top: 18px;
	left: 80px;
	/*text-align: center;*/

}
.group1{
	border:1px solid rgb(255,0,0);
}
.group2{
	border:1px solid rgb(0,128,0);
}
.group3{
	border:1px solid rgb(128,128,0);
}
.group4{
	border:1px solid rgb(255,165,0);
}
.group5{
	border:1px solid rgb(255,255,0);
}
.group6{
	border:1px solid rgb(0,0,255);
}
.group7{
	border:1px solid rgb(0,255,255);
}
.group8{
	border:1px solid rgb(0,255,0);
}


/*Temp GROUP!*/
.group9{
	height: 300px;
	font-size: 20px;
}


/* For the right Panel: the Contact List*/
.contact-info{

}
.contact-info-avatar{
	font-size: 10px;
	padding-top: 30px;
}

.contact-info-surname{
	/*border:1px solid rgb(250,250,250)blue;*/
	position:absolute;
	top: 10px;
	left: 90px;
	height: 35px;
	font-size: 20px;

}
.contact-info-firstname{
	/*border:1px solid rgb(250,250,250)blue;*/
	position:absolute;
	top: 35px;
	left: 90px;
	height: 35px;
	margin-top: 4px;
	font-size: 20px;
}