.dashboard-menu{
	padding: 0 20vw 0 20vw;
	box-shadow: 3px 3px 3px rgb(200, 200, 200); 
	font-size: 15px;
}

.navbar{
	padding: 0;
	margin-bottom: 4px;
}

.box-left{

}

.box-middle{

}

.box-right{

}
.panel-box{
	border:1px solid /*rgb(250,250,250)*/black;
}

.panel-box-title{
	text-align: center;
	border:1px solid /*rgb(250,250,250)*/green;
	font-size: 25px
}

