#header {

	
	/*text-shadow: 1px 1px 5px black;*/
}

#header h1{
	font-size: 70px;
}

#header h3{
	font-size: 25px;	
}
#header h2{
	font-size: 20px;	
}

.login-page{
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: linear-gradient(0deg,rgba(15,15,15,0.8),rgba(100,100,100,0.3)),url("../../images/header_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	border: 0px solid #d1d1d1;
	text-align: center;
	margin:auto;
	/*background: rgb(240, 240, 240);*/
	width: 100%;
	color: rgb(240, 240, 240);
}

.bouton_login{
	font-size:40px;
	text-align: center;
	width: 250px;
	margin:auto;
	border-radius: 7px;
	padding: 5px;
	background: rgb(107,107,107);
	color:rgb(250,250,250);
	border:1px solid rgb(250,250,250);
	text-decoration: none;
}

.bouton_login:hover{
	background: rgb(250,250,250);
	color:rgb(107,107,107);
	border:1px solid rgb(107,107,107);
}

a:hover{
	text-decoration: none;
}

